html {
  overflow-y: hidden; }

.content {
  width: 100%;
  position: absolute;
  overflow-y: auto;
  top: 50px;
  bottom: 50px;
  padding-right: 0px !important;
  margin-right: 0px !important; }

#scan {
  margin-left: auto;
  margin-right: auto; }

label {
  padding-left: 10px; }

.alert {
  padding: 3px;
  margin: 5px 0px;
  width: 10%;
  text-align: center; }

.el-container.answer-success {
  background-color: #dff0d8;
  color: #3c763d;
  -webkit-border-radius: all 0.3s;
  -moz-border-radius: all 0.3s;
  -ms-border-radius: all 0.3s;
  border-radius: all 0.3s; }
.el-container.answer-danger {
  background-color: #f2dede;
  color: #a94442;
  -webkit-border-radius: all 0.3s;
  -moz-border-radius: all 0.3s;
  -ms-border-radius: all 0.3s;
  border-radius: all 0.3s; }

.active {
  background-color: #dff0d8;
  color: #3c763d;
  -webkit-border-radius: all 0.3s;
  -moz-border-radius: all 0.3s;
  -ms-border-radius: all 0.3s;
  border-radius: all 0.3s; }

label {
  padding: 0.4em 2em 0.4em 0; }

.toggle-btn-grp {
  margin: 3px 0; }

.toggle-btn {
  text-align: center;
  margin: 5px 2px;
  padding: 0.4em 3em;
  color: #000;
  background-color: #FFF;
  border-radius: 10px;
  display: inline-block;
  border: solid 1px #CCC;
  cursor: pointer; }

.toggle-btn-grp.joint-toggle .toggle-btn {
  margin: 5px 0;
  padding: 0.4em 2em;
  border-radius: 0;
  border-right-color: white; }
.toggle-btn-grp.joint-toggle .toggle-btn:first-child {
  margin-left: 2px;
  border-radius: 10px 0px 0px 10px; }
.toggle-btn-grp.joint-toggle .toggle-btn:last-child {
  margin-right: 2px;
  border-radius: 0px 10px 10px 0px;
  border-right: solid 1px #CCC; }

.toggle-btn:hover {
  border: solid 1px #a0d5dc !important;
  background: #f1fdfe; }
.toggle-btn:hover {
  border: solid 1px #a0d5dc !important;
  background: #f1fdfe; }
.toggle-btn.success {
  background: #e6e6e6;
  border: solid 1px #CCC !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  display: table;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7; }
  footer > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #a6a6a6;
    text-transform: uppercase;
    font-size: 13px; }

/*# sourceMappingURL=clap-exam.css.map */
