<div class="container">

    <div class="row col-md-12">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">New message</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="header">Header</label>
                        <input type="text" class="form-control" id="header" placeholder="Message header" required
                               ng-model="message.header">
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea class="form-control" id="body" placeholder="Message body"
                                  rows="3" style="resize: none" required ng-model="message.body"></textarea>
                    </div>
                    <a class="btn btn-default" ng-click="sendMessage()">Send message</a>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="messageFilter" class="col-sm-2 control-label">Filter:</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="messageFilter" placeholder="Filter messages..."
                                   ng-model="query">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <th>Id</th>
                <th>Header</th>
                <th>Body</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="message in messages | filter:query">
                    <td>{{message.id}}</td>
                    <td>{{message.header}}</td>
                    <td>{{message.body}}<td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="deleteMessage(message.id)">Delete <span
                                class="fa fa-remove"></span></button>
                                <!--class="glyphicon glyphicon-remove"></span></button>-->

                </tr>
            </tbody>
        </table>
    </div>
</div>