<div class="container theme-showcase" role="main">

    <div class="row col-md-12">
        <div class="page-header">
            <h1>CLAP quest Angular from JSON</h1>
        </div>
        <div class="row col-md-12" ng-repeat="quest in quests | filter:query" ng-init="selected = -1">
            <label>{{quest.question}}</label>
            <form>
                <div class="el-container" ng-repeat="answerOptions in quest.answerOptions | filter:query">
                    <p ng-class="{active:($parent.selected == $index)}" ng-click="$parent.selected = $index;">{{answerOptions.answer}}</p>
                </div>
            </form>
        </div>
    </div>

<!--
    <div class="test" />
-->

</div>